body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  height: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  position: relative;
  color: var(--blue);
}

.logo__img {
  height: 40px;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  /* left: 509px; */
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
}
