body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #fff;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.is-active {
  color: var(--blue);
}

.logo__img {
  height: 40px;
  width: 40px;
  display: block;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  height: 60px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  color: var(--blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
}
